@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,400&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family:'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.bg{
    background: url('https://images.unsplash.com/photo-1586917138540-f1490b02f205?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2472&q=80') no-repeat;
    background-size:cover;
    background-position: center 30%;
    position: absolute;
    top: -100px;
    left: -100px;
    width: 120vw;
    height: 130vh;
    z-index: -1;
    filter: blur(30px)
}

.loading-text{
    font-size: 50px;
    color:white;
}